{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <h1>{{ form_config.title }}</h1>
        {{ form_start(form, {attr: { id: 'form' }}) }}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th width="80%"></th>
                        <th class="text-center">Cumple</th>
                        <th class="text-center">No cumple</th>
                        <th class="text-center">No aplica</th>
                    </tr>
                </thead>
                <tbody>
                {% for child in form.items.children %}
                    <tr>
                        <td>{{ child.value.vars.label }}</td>
                        {% for choice in child.value.children %}
                            <td class="text-center">{{ form_widget(choice) }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td><span id="total-cumple"></span></td>
                    <td><span id="total-no-cumple"></span></td>
                    <td><span id="total-no-aplica"></span></td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-primary">Enviar</button>
            <a href="{{ path('homepage') }}" class="btn btn-default">Volver a lista</a>
        {{ form_rest(form) }}
    </div>
    <div class="col-md-6">
        <div id="graph-slot">

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>

<script>
$(function () {
    var c, nc, na, chart = new CanvasJS.Chart('graph-slot', {
        title: {
            text: "Titulo"
        },
        legend :{
            verticalAlign: "center",
            horizontalAlign: "right"
        },
        data: [{
            type: "pie",
            showInLegend: true,
            toolTipContent: "{label} <br/> {y}%",
            indexLabel: "{y} %",
            dataPoints: [
                { label: "Cumple",      y: 0, legendText: "Cumple"},
                { label: "No cumple",   y: 0,  legendText: "No cumple" },
                { label: "No aplica",   y: 0, legendText: "No aplica" }
            ]
        }]
    });

    var totalCumple = $('#total-cumple');
    var totalNoCumple = $('#total-no-cumple');
    var totalNoAplica = $('#total-no-aplica');

    $('#form').on('change', function (e) {
        data = chart.options.data[0];
        data.dataPoints[0].y = c  = $(this).find('input:checked[value="cumple"]').length;
        data.dataPoints[1].y = nc = $(this).find('input:checked[value="no_cumple"]').length;
        data.dataPoints[2].y = na = $(this).find('input:checked[value="no_aplica"]').length;
        chart.render();

        totalCumple.text(c);
        totalNoCumple.text(nc);
        totalNoAplica.text(na);
    });
});
</script>
{% endblock %}
