{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h3>Formularios disponibles</h3>
        <table class="table">
            <tbody>
            {% for key, form in forms_list %}
                <tr>
                    <td>
                        <a href="{{ path('form_application', { formId: key }) }}">{{ form.title }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}