{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12" >
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form" action="{{ path('login') }}" method="post" style="margin: 200px auto">
            <h1>Login</h1>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />
            </div>

            <button type="submit" class="btn btn-primary">login</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}